name: release

defaults:
  run:
    shell: bash

on:
  workflow_dispatch:
  pull_request:
    types: [closed]
    branches:
      - main

concurrency:
  group: release
  cancel-in-progress: false

permissions:
  contents: write
  pull-requests: read

jobs:
  release:
    if: github.event_name == 'workflow_dispatch' || (github.event_name == 'pull_request' && github.event.pull_request.merged == true)
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          # If your repo has a go.mod, this will pick the version from it.
          go-version-file: go.mod
          cache: true

      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@main

      - name: Install tools
        run: make init

      - name: Run tests
        run: make test

      - name: Configure git user
        run: |
          set -euo pipefail
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Perform release
        run: make release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HOMEBREW_TAP_TOKEN: ${{ secrets.HOMEBREW_TAP_TOKEN }}
